@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: 'Lato', sans-serif;

}

header .row{
  margin-top: auto;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 30px;
  
}

nav{
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 30px;
}

.col {
  padding: 20px    ;
  flex-basis: 50%;
  min-width: 300px;
}


.col img{
  max-width: 100%;
  padding: 50px 0;
}

 a{
  text-decoration: none;
  color: #000000;
}

a:hover:not([class="cart"]){
  color: white;
  background: #100ce4;
  margin: 30px 0px;
  padding: 10px;
  border-radius: 20px;
 transition: 0.5s;
}

.col {
  flex-basis: 50%;
  min-width: 300px;
}

.col h1{
  color: rgb(0, 0, 0);
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0px;
}

.col p {
  color: #000000;
}

/* Corpo */

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.col2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col2 img{
  max-width: 100%;
  padding: 50px 0;
}

.col2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0px;
  color: black;
}

.col2 p {
  color: black;
 }

.btn{
  display: inline-block;
  background: #100ce4;
  color: rgb(255, 255, 255);
  padding: 8px 30px;
  margin: 30px 0px;
  border-radius: 30px;
  transition-duration:  0.5s;
}

.btn:hover{
  background: #0a0a0a;
}

.categoria{
  margin: 70px 0;
}

.col3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 100px;
}

.col3 img{
  width: 100%;
}

/* Produtos */

.container-small{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1.3em;
}

.col4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col4 img {
  width: 100%;
}

.titulo{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: black;

}

.titulo::after{
  content: '';
  background: black;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

h4 {
  color: black;
  font-weight: normal;
}

.col-4{
  padding: 5px;
}


.col4:hover {
  transform: translateY(-5px);
}

/*--------- AVALIAÇÃO -----------*/

.avaliacao{
  display: flex;
}

.star-icon{
  list-style-type: none;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
  color:blue;
  font-size: 1.3em;
  padding-bottom: 5px;
}

.star-icon::before{
  content: "\2605";
}

.star-icon.ativo ~ .star-icon::before{
  content: "\2606";
}

.avaliacao:hover  .star-icon::before{
  content: "\2605";
}

.star-icon:hover ~ .star-icon::before{
  content: "\2606";
}
/*--------- OFFER -----------*/

.offer{
  background: linear-gradient(rgb(255, 255, 255), #ffffff00); 
  margin-top: 80px;
  padding:30px 0 ;
}

.col2 .offer-img {
  padding: 10px;
}

small {
  color: #555;
}

/* Brands */

.brands{
  margin:100px auto;
}

.col5{
  width: 160px;
}

.col5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}

.col5 img:hover{
  filter: grayscale(0);
}

/* Rodapé */

footer{
  background: #100ce4;
  color: white;
  padding: 30px 0 20px;
}

footer p {
  color: #ffffff;
  font-size: 1.5em;
}

footer h3 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 1.5em;
}

.footer-col1, .footer-col2, .footer-col3, .footer-col4 {
  min-width: 150px;
  margin-bottom: 20px;
}

.footer-col1{
  text-align: left;
}

.footer-col2{
  flex: 1;
  text-align: center;
}

.footer-col2 img {
  width: 180px;
  margin-bottom: 20px;
  justify-content: center;
}

.footer-col3, .footer-col4 {
  flex-basis: 12%;
  text-align: center;
}

.footer-col4 ul {
  list-style-type: none;
  cursor: pointer;
}

.footer-col4 ul li {
  padding: 5px;
  font-size: 1.5em;
}

.app-logo {
  margin-top:20px ;
  cursor: pointer;
}

.app-logo img {
  width: 140px;
}

.icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* Icone do menu no header */

@media only screen and (max-width: 900px) {
  nav ul{
    position:  absolute;
    top: 70px;
    left: 0; 
    background: #000000;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    padding: 5px;
    color: rgb(255, 255, 255);
  }

  .icon{
    display: block;
    cursor: pointer;
  }
}